manifest {
  author = 'Dan Fornika'
  description = 'Generate Simulated Long Reads from Ref Genomes'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}

params {
    flat = false
    keep_bams = false
    nuc_assembly = ''
    mito_assembly = ''
    nuc_depth = 10
    mito_depth = 20
    contaminants = 'NO_FILE'
    depths_file = 'NO_FILE'
    depth = 50
    mean_read_length = 15000
    stdev_read_length = 13000
    percent_junk_reads = 1
    percent_random_reads = 1
    percent_chimeras = 1
    replicates = 1
    collect_outputs = false
    collected_outputs_prefix = 'collected'
}

profiles {
    conda {
	process.conda = "$baseDir/environments/environment.yml"
	if (params.cache){
	    conda.cacheDir = params.cache
	}
    }
}

process {
    withName: minimap2_align { 
	cpus = 4
    }
}

